/* CARDS FOR PRODUCTS*/
#cardHolder{
    margin-top: 1em;
    padding: 1.5em;
}

.card{
    color: #374955;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
}

.card p {
    color: black;
}


/*--------------------------*/


/* NAVBAR */
.nav{
    background-color: #374955;
    padding: 1em;

    
}

.nav a {
    color: #f1f1f1;
    display: inline-block;
    float: right;
    
}

.nav a:hover{
    color: #FFF;
}

.ccs{
    width: 65em;
    margin: 0 auto;
    float: right;
}

/*--------------------------*/



/*BUTTONS */
.btn-primary{
    
    background-color: #FF851B;
    border-color: transparent;

    
}

.btn-primary:hover{
    background-color: #FFC75F;
    border-color: #FFC75F;
}

.btn-outline-primary{
    color: #FFC75F;
    border-color: #FFC75F;
    
}

.btn-outline-primary:hover{
    color: #845EC2;
    background-color: #FFC75F;
    /*border-color: #FFC75F;*/
}

#loginbtn{
    background-color: transparent;
    /*border-color: #FFC75F;*/
    /*color: #FFC75F;*/
    color: #FF851B;
    border-color: #FF851B;
    margin: 0 1em 0 0.5em;
}

#loginbtn:hover{
    color: #374955;
    background-color: #FF851B;
    
    border-color: #FF851B;
}

#logoutbtn{
    background-color: transparent;
    color: #FF851B;
    border-color: #FF851B;
}

#logoutbtn:hover{
    color: #374955;
    background-color: #FF851B;
    
    border-color: #FF851B;
}

.favBtn{
    margin-left: 1em;
    background-color: #FF6F91;
}

.favBtn:hover{
    background-color: #FD4747;
    border-color: #FD4747;
}

#btnAddRecord{
    color: #FF851B;
    border-color: #FF851B;
}

#btnAddRecord:hover{
    color: #FFF;
    background-color: #FF851B;
    
}

#btnAggregate{
    color: #FF851B;
    border-color: #FF851B;
}

#btnAggregate:hover{
    color: #FFF;
    background-color: #FF851B;
    
}

/*--------------------------*/


/*GENERAL FOOTER STYLE*/
footer{
    padding: 2em;
    color: #845EC2;
}



/*LOGIN.PHP STYLE*/
div#loginbox{
    background-color: #f1f1f1;
    margin-top: 4em;
    color: #374955;
    padding: 3em;
    
    border-radius: 10px;
}

/*--------------------------*/


/*TEXT MARKER COLOR*/
::selection {
    background: #FF9671; /* WebKit/Blink Browsers */
  }
::-moz-selection {
  background: #FF9671; /* Gecko Browsers */
}
/*--------------------------*/



/*MODAL STYLE MAINLY TEXT COLOR*/
.modal{
    color:#374955;
}

/*--------------------------*/

#favoriteHeader{
    margin: 1em;
    color:#374955;
    text-align-last: center;
}

.headerText{
    margin: 1em;
    margin-left:0;
    color:#374955;
}

.errorText{
    margin: auto;
    color:#D71C2D;
    text-align: center;
    
}

#dropdownItems {
    color: white;
    /*background-color: white;*/
    line-height: 1.5em;
}


#addCarForm{
    margin:auto;
    margin-top:2em;
    width: 70% !important;
}

.addCar-label{
    margin-top: 1em;
}


#addRecord{
    color: #FF851B;
    border-color: #FF851B;
    margin: 2em 2em 2em 0;
}

#addRecord:hover{
    color: #FFF;
    background-color: #FF851B;
    
}


#updateForm{
    margin:auto;
    margin-top:2em;
    width: 70% !important;
}

#updateSubmit{
    color: #FF851B;
    border-color: #FF851B;
    margin: 2em 2em 2em 0;
}

#updateSubmit:hover{
    color: #FFF;
    background-color: #FF851B;
}