    body{
        opacity:1.0;
        width:100%;
        text-align:center;
        color:black;
        margin: 5em;
    }
    
    
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
         
    }
    
    #carouselExampleIndicators{
        width:700px;
        margin: 0 auto;
        
    }

